@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    /*paragraphs color*/
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*background, headings, buttons*/
    --very-light-gray: hsl(0, 0%, 95%);
}

/*default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: "Lexend Deca", sans-serif;
    color: var(--very-light-gray);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/*styles for three cars*/
.cars {
    padding: 25px;
   
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    margin: 10px 0 25px 0;
}

p {
    font-size: 15px;
    margin-bottom: 55px;
    color: var(--transparent-white);
}

img {
    margin-bottom: 20px;
}

/*background color styles*/
.very-dark-cyan {
    background-color: var(--very-dark-cyan);
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.btn {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.bright-orange {
    background-color: var(--bright-orange);
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.bright-orange .btn {
    color: var(--bright-orange);
}

.dark-cyan {
    background-color: var(--dark-cyan);
    color: #fff;
}

.dark-cyan .btn {
    color: var(--dark-cyan);
}

.very-dark-cyan .btn {
    color: var(--very-dark-cyan);
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.attribution {
    margin: auto;
    padding-left: 20px;
    color:black;
    text-align: center;
    font-size: 11px;
}

/*Destkop Layout*/
@media (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position:relative;
        margin: 25px;
        min-width: 250px;
        max-width: 100%;
    }

    .cars {
        height: 450px;
        width: auto;
    }

    .btn {
        position: absolute;
        bottom: 0;
        margin: 0 0 50px 0;
    }

    .bright-orange {
        border-radius: 10px 0 0 10px;
    }
    
    .very-dark-cyan {
        border-radius: 0 10px 10px 0; 
    }
} 